---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Success";
---

<BaseLayout title={title}>
    <h2 class="text-gray-500 text-md pb-4">{title}</h2>
    <p>お問い合わせありがとうございました。</p>
</BaseLayout>