---
import BaseLayout from "../layouts/BaseLayout.astro";
import { posts } from "../../consts";
---

<BaseLayout>
	<h2 class="text-gray-500 text-lg">Posts</h2>
	<ul>
		{posts.map((post: any) => (
			<li class="py-2">
				<a href={post.url} class="link link-hover">{post.title}</a><small class="pl-4">作成日：{post.date}</small>
			</li>
		))}
	</ul>
</BaseLayout>