---
import Menu from "../components/Menu.astro";
import { SITETITLE } from "../../consts";
---

<div class="flex justify-between items-center container mx-auto px-4 py-4">
    <a class="text-xl" href="/">{SITETITLE}</a>
    <Menu />
</div>